{
    presets: [
        ['env', {
            targets: {
                node: '8.0',
                browsers: ['last 2 versions'],
            },
            
            // Do not transpile modules (will generate ES modules)
            modules: false,
            
            exclude: [
                // Do not transpile generators (saves us from needing a polyfill)
                'transform-regenerator',
            ],
        }],
    ],
    plugins: [
        // Note: this may cause issues with `export * from` syntax:
        // https://github.com/babel/babel-loader/issues/195 (should be fixed in the latest version)
        // 'transform-runtime', // Needed to support generators
        
        'transform-class-properties',
        'transform-object-rest-spread',
        //'transform-decorators-legacy',
        //'transform-function-bind',
        
        // ['transform-builtin-extend', {
        //     // See: http://stackoverflow.com/questions/33870684/why-doesnt-instanceof-work
        //     globals: ['Error', 'String', 'Number', 'Array'],
        // }],
    ],
    
    // Note: we need to duplicate some things below, because env config does not get deep merged
    // Once Babel v7 is out, replace this using `.babelrc.js`.
    env: {
        // CommonJS
        cjs: {
            presets: [
                ['env', {
                    targets: {
                        node: '8.0',
                        browsers: ['last 2 versions'],
                    },
                    
                    // Transpile modules to CommonJS
                    modules: 'commonjs',
                    
                    exclude: [
                        'transform-regenerator',
                    ],
                }],
            ],
            plugins: [
                'transform-class-properties',
                'transform-object-rest-spread',
            ],
        },
        // ES6+ modules
        esm: {
        },
    },
}
